name: CI Pipeline

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Set up Node.js
        uses: actions/setup-node@v4  
        with:
          node-version: '16'

      - name: Install dependencies
        run: |
          npm install  # Убираем `npm init -y`, так как пакет уже должен быть создан
          npm install jest --save-dev  # Убеждаемся, что jest установлен

      - name: Run tests
        run: npx jest

      - name: Upload test results
        uses: actions/upload-artifact@v4  
        with:
          name: test-results
          path: test-results/results.json
